<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="IpamClientSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="IpamClientSettingsTest" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <IpamClientSettings>
    <!-- PRODUCTION CLUSTER -->
    <!--IPAM-->
    <!-- IPAM Service Endpoint -->
    <!-- Default Value: $(None), Required -->
    <add key="ServiceEndpoint" value="https://northcentralusprod.ipam.core.windows.net/ipam" />

    <!-- Turn on/off Dsts Authentication -->
    <!-- Default Value: True -->
    <add key="UseAuthentication" value="True"/>

    <!-- Authentication Credential Type: Windows / Certificate -->
    <!-- Default Value: Windows -->
    <!--[SuppressMessage("Microsoft.Security", "CS002")]-->
    <add key="DstsCredentialType" value="Certificate"/>

    <!-- IPAM Dsts Service Name -->
    <!-- Default Value: ipam -->
    <add key="DstsServiceName" value="ipam"/>

    <!-- IPAM Dsts Metadata Url -->
    <!-- Default Value: $(ServiceEndpoint Root)/AuthenticationMetadata -->
    <add key="DstsMetadataUrl" value="https://northcentralusprod.ipam.core.windows.net/AuthenticationMetadata" />

    <!-- The thumbprint of client cert -->
    <!-- Default Value: $(None), Required when $(DstsCredentialType) = Certificate -->
    <!-- <add key="DstsClientCertThumbprint" value="A2C9D235062787F36F464B7EAB36A5AE45850A8D" />-->
    <!-- YOU MUST USE YOUR CERTIFICATE THUMBPRINT HERE -->
    <add key="DstsClientCertThumbprint" value="07b683de84c8dcc521c3ae7bf2137eb06e59c327"/>

    <!-- IPAM Dsts ClientHomeSts -->
    <!-- Default Value: $(None) -->
    <add key="ClientHomeSts" value="https://prod-dsts.dsts.core.windows.net/dSTS/v2/wstrust/13/certificate" />

    <!-- IPAM Dsts Trusted Sts Thumbprints -->
    <!-- Default Value: $(None) -->
    <add key="TrustedStsThumbprints" value=""/>

    <!-- Enable/Disable AggregateSummary features -->
    <!-- Default Value: True -->
    <add key="EnableAggregateSummary" value="False"/>

    <!-- IPAM Asr Storage Account Name -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountName" value="ipamasr"/>

    <!-- IPAM Asr Storage Account Primary Key -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountPrimaryKey" value=""/>

    <!-- IPAM Asr Storage Account Secondary Key -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountSecondaryKey" value=""/>

    <!-- IPAM SecretStore Path to the Asr Storage Account Secondary Key -->
    <!-- Default Value: "AzureInfrastructure/IPAM/IpamStorage" -->
    <add key="AsrStorageAccountSecretStorePath" value="AzureInfrastructure/IPAM/IpamStorage"/>

    <!-- SecretStore URI -->
    <add key="SecretStoreUri" value="https://test.secretstore.core.azure-test.net/CertSvc.svc"/>
    <!--<add key="SecretStoreUri" value="https://production.secretstore.core.windows.net/CertSvc.svc" />-->
    <!--<add key="SecretStoreUri" value="https://production.secretstore.core.windows.net/CertSvcDSTS.svc"/>-->

    <!-- Initial AddressSpace Id (generally SpecialAddressSpaces.DefaultAddressSpaceId or SpecialAddressSpaces.GalaCakeAddressSpaceId) -->
    <!-- Default Value: 58f81eb5-3a3c-4620-a373-af63a23edfe3 (DefaultAddressSpaceId) -->
    <add key="InitialAddressSpaceId" value="58f81eb5-3a3c-4620-a373-af63a23edfe3"/>

  </IpamClientSettings>

  <IpamClientSettingsTest>
    <!-- TEST CLUSTER -->
    <!--IPAM-->
    <!-- IPAM Service Endpoint -->
    <!-- Default Value: $(None), Required -->
    <add key="ServiceEndpoint" value="https://westus-2.ipam-perf.int.azure-int.net/ipam" />
    <!--<add key="ServiceEndpoint" value="https://westus.ipam-test.int.azure-int.net/ipam"/>-->

    <!-- Turn on/off Dsts Authentication -->
    <!-- Default Value: True -->
    <add key="UseAuthentication" value="True"/>

    <!-- Authentication Credential Type: Windows / Certificate -->
    <!-- Default Value: Windows -->
    <!--[SuppressMessage("Microsoft.Security", "CS002")]-->
    <add key="DstsCredentialType" value="Certificate"/>

    <!-- IPAM Dsts Service Name -->
    <!-- Default Value: ipam -->
    <add key="DstsServiceName" value="ipam"/>

    <!-- IPAM Dsts Metadata Url -->
    <!-- Default Value: $(ServiceEndpoint Root)/AuthenticationMetadata -->
    <add key="DstsMetadataUrl" value="https://westus-2.ipam-perf.int.azure-int.net/AuthenticationMetadata" />
    <!--<add key="DstsMetadataUrl" value="https://westus.ipam-test.int.azure-int.net/AuthenticationMetadata"/>-->

    <!-- The thumbprint of client cert -->
    <!-- Default Value: $(None), Required when $(DstsCredentialType) = Certificate -->
    <!-- <add key="DstsClientCertThumbprint" value="A2C9D235062787F36F464B7EAB36A5AE45850A8D" />-->
    <add key="DstsClientCertThumbprint" value="F9F78E70A65789B0726F3BE001FA206433AA7F55" />

    <!-- IPAM Dsts ClientHomeSts -->
    <!-- Default Value: $(None) -->
    <add key="ClientHomeSts" value="https://co2agg04-dsts.dsts.core.azure-test.net:563/dSTS/v2/wstrust/13/certificate"/>
    <!--<add key="ClientHomeSts" value="https://uswest-dsts.dsts.core.windows.net:563/dSTS/v2/wstrust/13/certificate"/>-->

    <!-- IPAM Dsts Trusted Sts Thumbprints -->
    <!-- Default Value: $(None) -->
    <add key="TrustedStsThumbprints" value=""/>

    <!-- Enable/Disable AggregateSummary features -->
    <!-- Default Value: True -->
    <add key="EnableAggregateSummary" value="False"/>

    <!-- IPAM Asr Storage Account Name -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountName" value="ipamasr"/>

    <!-- IPAM Asr Storage Account Primary Key -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountPrimaryKey" value=""/>

    <!-- IPAM Asr Storage Account Secondary Key -->
    <!-- Default Value: $(None) -->
    <add key="AsrStorageAccountSecondaryKey" value=""/>

    <!-- IPAM SecretStore Path to the Asr Storage Account Secondary Key -->
    <!-- Default Value: "AzureInfrastructure/IPAM/IpamStorage" -->
    <add key="AsrStorageAccountSecretStorePath" value="AzureInfrastructure/IPAM/IpamStorage"/>

    <!-- SecretStore URI -->
    <add key="SecretStoreUri" value="https://test.secretstore.core.azure-test.net/CertSvc.svc"/>
    <!--<add key="SecretStoreUri" value="https://production.secretstore.core.windows.net/CertSvc.svc" />-->
    <!--<add key="SecretStoreUri" value="https://production.secretstore.core.windows.net/CertSvcDSTS.svc"/>-->

    <!-- Initial AddressSpace Id (generally SpecialAddressSpaces.DefaultAddressSpaceId or SpecialAddressSpaces.GalaCakeAddressSpaceId) -->
    <!-- Default Value: 58f81eb5-3a3c-4620-a373-af63a23edfe3 (DefaultAddressSpaceId) -->
    <add key="InitialAddressSpaceId" value="58f81eb5-3a3c-4620-a373-af63a23edfe3"/>

  </IpamClientSettingsTest>

</configuration>
